.search_button {
  background: #ec6e4c;
  border-radius: 5px;
  border-width: 1px;
  color: white;
  border-color: gray;
}

.current_location_button {
  background: #f2f2f2;
  border-radius: 5px;
  border-width: 1px;
  color: black;
  position: relative;
  top: -29px;
  right: -258px;
  border-color: gray;
}

.container {
  margin: 20px auto;
  max-width: 1000px;
}
.current_details {
  margin: 20px auto;
}
.card {
  background: #ffffde;
}
.current_temp {
  font-size: 50px;
  color: black;
}
.current_temp_number {
  font-size: 50px;
  color: black;
}

.unit_group {
  position: relative;
  font-size: 25px;
  top: -20px;
  color: black;
}
.stripe {
  position: relative;
  font-size: 25px;
  top: -20px;
  color: black;
}
.other_weather_stats {
  font-size: 16px;
  padding: 10px 0px 0px 0px;
  color: black;
}
.summary {
  font-size: 18px;
  color: black;
}
.summary:first-letter {
  text-transform: capitalize;
}
.location {
  font-size: 40px;
  color: black;
  text-transform: capitalize;
}

.country {
  font-size: 20px;
  font-weight: 500;
}
.future_day {
  font-size: 18px;
  font-weight: 400;
  color: black;
}

.future_day_description {
  font-size: 15px;
  font-weight: 300;
}

.future_forecast_section {
  margin: 60px auto 20px auto;
}
.future_day_hi_temp {
  color: black;
}
.future_day_lo_temp {
  color: rgb(102, 102, 102);
}
.celcius {
  position: relative;
  font-size: 25px;
  top: -20px;
  color: black;
}

.celcius:hover {
  color: black;
  cursor: pointer;
}
.celcius:click {
  color: black;
  font-size: 30px;
}

.Fahrenheit {
  position: relative;
  font-size: 25px;
  top: -20px;
  color: darkgray;
}

.Fahrenheit:hover {
  color: black;
  cursor: pointer;
}

.gitLink {
  font-size: 20px;
  margin: 15px auto;
  text-decoration: none;
}

.myName {
  font-size: 20px;
}
